
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div class="container">
    <h3>Encabezado</h3>
    <label>Id Boleta</label>
    <input type="number" name="numeroBoleta" value="" />

    <label>Fiado</label>


</div>