@model List<portafolio.Models.Pedido>
@{
    ViewBag.Title = "Orden de pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="container my-5">
    <div class="row flex-column">
        <h1 class="mb-0">Orden de pedido</h1>
        <small>Podrás gestionar las órdenes de pedido.</small>
    </div>
</header>
<main class="container">
    <div class="row justify-content-between bg-dark py-5 px-3 border-top box-shadow border-radius">
        <div class="col-md-12">
            <h5 class="c-orange mb-4">Gestión orden de pedido:</h5>
        </div>
        <div class="mb-4 py-4 bg-light text-dark row mx-3">
                <div class="form-group col-md-3">
                    <label class="d-flex flex-column">
                        Proveedor
                        <select class="js-example-basic-single form-control" name="proveedores" id='proveedor' onchange="valSelect(this)"></select>
                        <label class="error text-danger d-none mt-2 mb-0"></label>
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="w-100">
                        Producto
                        @*<select class="form-control" name="productos" id='productos' onchange="valSelect(this)"></select>*@
                        <input id="productos" type="text" class="form-control" placeholder="Nombre producto" onkeyup="valTexto(this, 2, 50)" />
                        <label class="error text-danger d-none"></label>
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="d-flex flex-column">
                        Familia producto
                        <select id="familiaProducto" type="text" class="form-control" placeholder="Familia producto" onkeyup="valSelect(this)">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <label class="error text-danger d-none"></label>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label class="w-100">
                        Precio compra:
                        <input class="form-control" type="text" value="0" id='precioCompra' onkeyup="valCantidad(this,1,9999999)" onchange="valCantidad(this,1,9999999)">
                        <label class="error text-danger d-none"></label>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label class="w-100">
                        Precio venta:
                        <input class="form-control" type="text" value="0" id='precioVenta' onkeyup="valCantidad(this,1,9999999)" onchange="valCantidad(this,1,9999999)">
                        <label class="error text-danger d-none"></label>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label class="w-100">
                        Unidad de medida:
                        <input class="form-control" type="text" value="0" id='unidadMedida' onkeyup="valTexto(this, 1, 20)" />
                        <label class="error text-danger d-none"></label>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label class="w-100">
                        Stock:
                        <input class="form-control" type="number" value="0" id='stock' onkeyup="valCantidad(this,1,9999999)" onchange="valCantidad(this,1,9999999)">
                        <label class="error text-danger d-none position-absolute"></label>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label class="w-100">
                        Stock crítico:
                        <input class="form-control" type="number" value="0" id='stockCritico' onkeyup="valCantidad(this,1,9999999)" onchange="valCantidad(this,1,9999999)">
                        <label class="error text-danger d-none position-absolute"></label>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label class="w-100">
                        Fecha de vencimiento:
                        <input class="form-control" type="date" value="0" id='fechaVencimiento' />
                        <label class="error text-danger d-none position-absolute"></label>
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="d-flex flex-column">
                        Tipo moneda
                        <select id="tipoMoneda" type="text" class="form-control" onkeyup="valSelect(this)">
                            <option value="1">Pesos chilenos</option>
                        </select>
                        <label class="error text-danger d-none"></label>
                    </label>
                </div>
                <div class="col-md-6 justify-content-end d-flex align-items-center">
                    <button class="btn btn-secondary d-block" onclick="agregarProducto()">Agregar Producto</button>
                </div>
        </div>
        <div class="col-md-12 d-flex flex-column justify-content-between productos">
            <table class="table table-dark table-hover border-top" id='productosContainer'>
                <thead>
                    <tr>
                        <td class="p-2">Proveedor:</td>
                        <td>Producto:</td>
                        <td>Familia producto:</td>
                        <td>Cantidad:</td>
                        <td>Precio:</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="d-flex justify-content-end text-light">
                <label class="mr-2">
                    <strong>Precio Total: </strong>
                </label>
                <label id="total">
                    <strong>0</strong>
                </label>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end mt-3 productos">
            <button class="btn btn-primary" id="generarOP" onclick="generarOP(this)">Generar Orden de Pedido</button>
            <button class="btn btn-primary d-none" id="editarOP" onclick="generarOP(this)">Guardar Orden de Pedido</button>
        </div>

        <div class="col-md-12 my-4 d-flex flex-column text-light justify-content-center align-items-center" id="vacio">
            <i class="fas fa-file-alt fnt-40 mb-4"></i>
            <h3>No existe orden de pedido para generar</h3>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="w-100 title-table">
            <h5 class="c-orange mb-4">Listado de ordenes de pedido:</h5>
        </div>
        <table class="table table-dark table-hover col-md-12 border-top" id="tablaOP">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>

<script src="@Url.Content("~/assets/js/orden-pedido.js")"></script>
