
@{
    ViewBag.Title = "Gestión de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logeado = "logeado";
}

<header class="container my-5">
    <div class="row justify-content-center">
        <h1>Clientes</h1>
    </div>
</header>
<main class="container">
    <div class="row bg-light py-4 mb-5">
        <div class="form-group col-md-4">
            <label class="w-100">
                Rut:
                <input id="rut" type="text" class="form-control" placeholder="Rut cliente" onkeyup="checkRut(this)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-4">
            <label class="w-100">
                Nombres:
                <input id="nombres" type="text" class="form-control" placeholder="Nombre cliente" onkeyup="valTexto(this,4,50)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-secondary mt-4" onclick="agregar('clientes')">Agregar</button>
        </div>
    </div>
    <div class="row">
        <table class="table" id="tablaClientes">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <p>55555555-5</p>
                        <input type="text" value="55555555-5" class="form-control editar d-none" onkeyup="checkRut(this)">
                        <label class="error text-danger d-none "></label>
                    </td>
                    <td>
                        <p>Lorem</p>
                        <input type="text" value="Lorem" class="form-control editar d-none" onkeyup="valTexto(this,4,50)">
                        <label class="error text-danger d-none "></label>
                    </td>
                    <td class="d-flex">
                        <a class="btn btn-primary editar d-none cursor-pointer" onclick="guardar(this,'clientes')" data-toggle="tooltip" data-placement="top" title="Guardar cliente"><i class="fas fa-check-circle"></i></a>
                        <a class="btn btn-danger btnEliminar mr-2 cursor-pointer" onclick="eliminar(this,'clientes')" data-toggle="tooltip" data-placement="top" title="Eliminar cliente"><i class="fas fa-trash-alt"></i></a>
                        <a class="btn btn-secondary btnEditar cursor-pointer" onclick="editar(this,'clientes')" data-toggle="tooltip" data-placement="top" title="Editar cliente"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<script src="@Url.Content("~/assets/js/clientes.js")"></script>