body {
    background-color: #ececec;
}

.w-20 {
    width: 20%;
}

.h-100vh {
    height: 100vh;
}

main {
    /* position: relative;
    top: -3em; */
}

.error {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-danger-light {
    color: #ffb6bd;
}

.fnt-40 {
    font-size: 40px;
}

.select2{
    width: 100%;
}

.spinner{
    background-color: rgba(255, 255, 255,0.8);
    height: 100vh;
    width: 100%;
    top:0;
    position:fixed;
}

    .spinner .fa-spinner {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        font-size: 3rem;
    }

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#select2-proveedor-container {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
    border-radius: inherit !important;
}

.cliente {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 1rem;
}

.back-red {
    background-color: rgba(0, 104, 31, 0.45);
}