body {
    background-color: #770000;
    padding-bottom: 6rem;
    color: white;
}


.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.h-100vh {
    height: 100vh;
}

main {
    /* position: relative;
    top: -3em; */
}

.error {
    font-size: 14px;
    font-weight: 700;
}

.cursor-pointer {
    cursor: pointer;
}

.text-danger-light {
    color: #ffb6bd;
}

.fnt-40 {
    font-size: 40px;
}

.select2 {
    width: 100%;
}

.spinner {
    background: linear-gradient(to top, #270000, #b50000);
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
}

    .spinner .fa-spinner {
        position: relative;
        top: 47%;
        left: 47%;
        color: red;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        font-size: 3rem;
    }

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

button:disabled {
    cursor: not-allowed;
} 

#select2-proveedor-container {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select1-container{
    width:100% !important;
}
.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
    border-radius: inherit !important;
}

.select2-results__option {
    color: rgba(0,0,0,0.85) !important;
}

.cliente {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 1rem;
}

.back-red {
    background-color: rgba(0, 104, 31, 0.45);
}

table p {
    margin: 0;
}

.menu-leyend {
    position: absolute;
    top: 1.2rem;
    margin-bottom: 0;
    color: rgba(0,0,0,0.5);
}

nav {
    background: linear-gradient(to top, #b50000, #cc0000);
    color: white;
}

    nav a {
        color: white !important;
    }

        nav a:hover {
            box-shadow: inset 0 -5px 0 #ff9900;
        }

*:hover, *:active, *:focus, *:hover {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.form-control,
.form-control:focus {
    background-color: rgba(255,255,255,0.8);
}

.btn-primary {
    color: #000000;
    background-color: #ff9900;
    border-color: #da8300;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #d07d00;
    border-color: #da8300;
}

.w-97 {
    width: 98.5% !important;
}

.border-top {
    border-top: 3px solid #ff9900 !important;
}

.c-orange {
    color: #ff9900 !important;
}

.bg-dark-dark {
    background-color: #1b1e21;
}

.box-shadow {
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.31);
}

.border-radius {
    border-radius: 0px 0px 5px 5px;
}

/** SWITCH */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom:0px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/**SWITCH FIN*/

.modal{
    color: rgba(0,0,0,0.8);
}

#listadoProductos .card-header:hover{
    background: rgba(255,255,255,0.15);
}

/*#listadoProductos .collapse p {
    margin-bottom: 0;
}*/