
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container">
    <div class="row justify-content-center h-100vh align-items-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password">
            </div>
            <button class="btn btn-primary" onclick="login()">Ingresar</button>
        </div>
    </div>
</main>


<script src="@Url.Content("~/assets/js/login.js")"></script>