@model List<portafolio.Models.Pedido>
@{
    ViewBag.Title = "Recepción productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="container my-5">
    <div class="row flex-column">
        <h1 class="mb-0">Recepción de productos</h1>
        <small>
            Podrás buscar órdenes de pedido y aceptar los productos que hay en ella.
            También puedes editar el stock de su almacén
        </small>
    </div>
</header>
<main class="container">
    <div class="row justify-content-between bg-dark py-5 px-3 border-top box-shadow border-radius">
        <div class="col-md-12">
            <h5 class="c-orange mb-4">Busca la orden de pedido:</h5>
        </div>
        <div class="col-md-12 d-flex ">

            <div class="mr-5 form-group">
                <label class="w-100">
                    ID Orden de pedido:
                    <input class="form-control" type="text" value="0" id='idOP' onkeyup="valTexto(this,1,12)">
                    <label class="error text-danger d-none position-absolute"></label>
                </label>
            </div>

            <div class=" justify-content-end d-flex align-items-center d-none">
                <button class="btn btn-secondary d-block" onclick="buscarOrden($('#idOP').val())">Buscar orden de pedido</button>
            </div>
        </div>

    </div>
    <div class="row bg-light text-dark py-5 px-3 mt-5" id="llenar">

    </div>
</main>

<script src="@Url.Content("~/assets/js/recepcion-pedido.js")"></script>
