@{
    ViewBag.Title = "Fiados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="container my-5">
    <div class="row justify-content-center">
        <h1>Fiados</h1>
    </div>
</header>
<main class="container">
    <div class="row bg-light py-4 mb-5">
        buscador y estado
    </div>
    <div class="row">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rut Nombre Completo</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Fiado/Abono</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <div> 55555555-5</div>
                        Lorem Ipsum
                    </td>
                    <td>
                        <div> lorem@ipsum.cl</div>
                        +569 5456 5455
                    </td>
                    <td>
                        <div>5000</div>
                        2500
                    </td>
                    <td>En orden</td>
                    <td class="d-flex">
                        <a class="btn btn-primary editar d-none cursor-pointer" onclick="cambiarFiado(this)" data-toggle="tooltip" data-placement="top" title="Guardar cliente"><i class="fas fa-check-circle"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<script src="@Url.Content("~/assets/js/fiados.js")"></script>
<script src="@Url.Content("~/assets/js/data-table-clientes.js")"></script>