@{
    ViewBag.Title = "Orden de pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logeado = "logeado";
}

<header class="container my-5">
    <div class="row justify-content-center">
        <h1>Fiados</h1>
    </div>
</header>
<main class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rut Nombre Completo</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Fiado/Abono</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <div> 55555555-5</div>
                        Lorem Ipsum
                    </td>
                    <td>
                        <div> lorem@ipsum.cl</div>
                        +569 5456 5455
                    </td>
                    <td>
                        <div>5000</div>
                        2500
                    </td>
                    <td>En orden</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <div> 55555555-5</div>
                        Lorem Ipsum
                    </td>
                    <td>
                        <div> lorem@ipsum.cl</div>
                        +569 5456 5455
                    </td>
                    <td>
                        <div>5000</div>
                        2500
                    </td>
                    <td>En orden</td>
                </tr>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <div> 55555555-5</div>
                        Lorem Ipsum
                    </td>
                    <td>
                        <div> lorem@ipsum.cl</div>
                        +569 5456 5455
                    </td>
                    <td>
                        <div>5000</div>
                        2500
                    </td>
                    <td>En orden</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <div> 55555555-5</div>
                        Lorem Ipsum
                    </td>
                    <td>
                        <div>lorem@ipsum.cl</div>
                        +569 5456 5455
                    </td>
                    <td>
                        <div> 5000</div>
                        2500
                    </td>
                    <td>En orden</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
